@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply no-underline transition-colors;
}

ol {
	counter-reset: item; /* Reset the counter */
}

ol li {
	counter-increment: item; /* Increment the counter */
}

/* First-level list items */
ol li::before {
	content: counters(item, '.') '. '; /* Display the nested numbering */
}

/* Nested lists */
ol ol {
	counter-reset: item; /* Reset counter for nested lists */
}
